*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

.navigation {
    position: relative;
    height: 100%;
    background-color: grey;

    &__background {
        height: 100%;
        background-color: transparent;
        background-image: radial-gradient(circle, blue 22%, pink 70%);
        opacity: 0;
        transition: all .4s;
    }

    &__input {
        display: none;
    }

    &__label {
        color: white;
        position: absolute;
        top:50%;
        right: 50%;
        transform: translate(-50%, -50%);
        top: 46%;
        right: 35%;
        z-index: 2000;
        transition: all .9s;
    }

    &__icon {
        position: relative;
        margin: 3rem;
        cursor: pointer;
        z-index: 3000;

        &,
        &::before,
        &::after {
            box-shadow: 0px 0px 2rem 1.3rem rgba(0, 0, 0, 0.26);
            background-color: black;
            height: 3rem;
            width: 16rem;
            display: inline-block;
            position: relative;
            transition: all .9s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::after {
            top: 5rem;
        }

        &::before {
            top: -5rem;
        }
    }

    &__nav {
        width: 100%;
        opacity: 0;
        transition: all .3s;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;
        list-style: none;
        line-height: 6rem;
        text-align: center;
        transition: all .3s;
    }

    &__item {
        margin: 2rem;
    }

    &__link {

        &:link,
        &:visited {
            color: white;
            text-decoration: none;
            font-weight: 300;
            border-radius: .5rem;
            padding: 1rem 2rem;
            background-size: 240%;
            transition: all .4s;
        }

        &:hover,
        &:active {
            color: black;
            background-position: 100%;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, pink 50%);
        }
    }

    //FUNCTIONALITY BEGINING
    &__input:checked~&__background {
        opacity: 1;
    }

    &__input:checked~&__nav {
        opacity: 1;
    }

    &__input:checked~&__label {
        position: absolute;
        top: 7%;
        right: -4%;
    }

    &__input:checked~&__label &__icon {
        & {
            visibility: visible;
            background-color: transparent;
            box-shadow: none;
            height: 1.5rem;
            width: 12rem;
        }

        &::before,
        &::after {
            visibility: visible;
            box-shadow: 0px 0px 2rem 1.3rem rgba(0, 0, 0, 0.26);
            background-color: rgba(0, 0, 0, 0.61);
            height: 1.5rem;
            width: 12rem;
        }

        &::before {
            top: 0;
            transform: rotate(135deg);
        }

        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
    }

    //FUNCTIONALITY ENDING
}