@import 'resets';
@import 'variables';

@function weight($weight-name){
    @return map-get($map: $font-weights, $key:$weight-name);
}

@mixin flexCenter($directions){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $directions;
}

body {
    background-color: $primary-color;
    color: $text-color;
    font-weight: weight(bold);
}

.main {
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph {
        font-weight: weight(medium);

        &:hover {
            color: pink;
        }
    }
}