* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --white: #fff;
    --highlight: #4C5fd5;
    --lightgrayblue: #dadbf1;
    --black: #000000;
}

header {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1em;
}

header a {
    color: var(--white);
    text-decoration: none;
}

.helpc {
    display: flex;
}

.submit {
    background-color: var(--black);
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.signin {
    background-color: var(--highlight);
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 6px;
}

.mainheader {
    background-color: var(--lightgrayblue);
    margin: auto;
    text-align: center;
    padding: 50px;
    font-size: 2em;
}

.nowrap {
    white-space: nowrap;
}


.searchbox input {
    position: relative;
    width: clamp(302.5px, 250.3981px + 17.7605vw, 546px);
    height: 50px;
    padding: 10px;
}

.searchbox .btn {
    position: relative;
    right: clamp(-1134px, -40.4078px + -54.9579vw, -254px);
    top: -44px;
    z-index: 1;
    color: var(--black);
    height: 32px;
    width: 42px;
}

.searchbox .btn:hover {
    background-color: var(--black);

}