//media mobile
@media (max-width: 600px){
    .showcase{
        height: 65vh;
        min-width: 340px;
        &-content{
            text-align: center;

            img{
                display: none;
            }
        }

        .logo{
            font-size: 16px;
            white-space: nowrap;
        }

        &-content{
            margin: 0 10px;
        }

        .btn-primary{
            margin-top: 12px;
        }
    }
}